@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg'),
         url('../fonts/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
  @font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg'),
         url('../fonts/Roboto-Medium.ttf') format('truetype'),
         url('../fonts/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
     font-family: 'PoppinsBold';
     src: url('../fonts/PoppinsBold.eot');
     src: url('../fonts/PoppinsBold.eot') format('embedded-opentype'),
          url('../fonts/PoppinsBold.woff2') format('woff2'),
          url('../fonts/PoppinsBold.woff') format('woff'),
          url('../fonts/PoppinsBold.ttf') format('truetype'),
          url('../fonts/PoppinsBold.svg#PoppinsBold') format('svg');
} 

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.eot');
    src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg'),
         url('../fonts/Poppins-Medium.ttf') format('truetype'),
         url('../fonts/Poppins-Medium.woff') format('woff'),
         url('../fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'Poppins-SemiBold';
     src: url('../fonts/Poppins-SemiBold.eot');
     src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
          url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
          url('../fonts/Poppins-SemiBold.woff') format('woff'),
          url('../fonts/Poppins-SemiBold.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Poppins-Regular';
     src: url('../fonts/Poppins-Regular.eot');
     src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'),
          url('../fonts/Poppins-Regular.ttf') format('truetype'),
          url('../fonts/Poppins-Regular.woff') format('woff'),
          url('../fonts/Poppins-Regular.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
}
   
      
   