/* CSS */
body {
  color: #333;
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 23px;
  margin: 0;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden !important;
  background: #F8F9FF;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
body.dark {
  background: #2B2A35;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
body.dark .header-mobile {
  background: #0B0B15;
  color: #fff;
  box-shadow: 0px 2px 10px #1C2437;
}
body.dark .wrp-sidebar {
  background: #0B0B15;
  box-shadow: 0px 6px 30px #1C2437;
}
body.dark .mainmenu li a {
  color: #CBCBCB;
}
body.dark .mainicon svg path {
  fill: #CBCBCB;
}
body.dark .wrp-switchmode {
  color: #CBCBCB;
}
body.dark .nav span {
  background: #fff;
}
body.dark .wrp-search {
  background: #0B0B15;
  box-shadow: 0px 2px 10px #1C2437;
}
body.dark .feature-small {
  background: #0B0B15;
  color: #fff;
  box-shadow: 0px 6px 20px #1C2437;
}
body.dark .feature-small .imgwrp {
  background: #2B2A35;
}
body.dark .feature-small h4 {
  color: #fff;
}
body.dark .wrp-notif {
  background: #0B0B15;
  box-shadow: 0px 2px 10px #1C2437;
}
body.dark .wrp-navuserprofile {
  background: #0B0B15;
  color: #fff;
  box-shadow: 0px 2px 10px #1C2437;
}
body.dark .wrp-section.white .feature-middle {
  background: #0B0B15;
  box-shadow: 0px 6px 20px #1C2437;
}
body.dark h4.title-section {
  color: #fff;
}
body.dark .wrp-tablestyle {
  color: #CBCBCB;
}
body.dark .wrp-boxsidebar {
  background: #0B0B15;
  box-shadow: 0px 6px 20px #1C2437;
  color: #CBCBCB;
}
body.dark .wrp-boxsidebar h4 {
  color: #fff;
}
body.dark .maintitle h2 {
  color: #fff;
}
body.dark .breadcump {
  color: #8B8B8B;
}
body.dark .mycustom-calendar {
  color: #CBCBCB;
}
body.dark .mycustom-calendar .fc-center h2 {
  color: #fff;
}
body.dark .btn--full {
  box-shadow: none;
}
body.dark .itemform label {
  color: #CBCBCB;
}
body.dark .custom-upload .fake-file .disbaleunput {
  color: #CBCBCB;
}
body.dark .itemform-flex label {
  color: #CBCBCB;
}
body.dark .iteminput label {
  color: #CBCBCB;
}
body.dark #amount {
  background: none;
}
body.dark #example2_filter {
  color: #CBCBCB;
}
body.dark .dataTables_paginate {
  background: #2B2A35;
}
body.dark table.dataTable {
  color: #CBCBCB;
}
body.dark table.dataTable tbody tr {
  background: none;
}
.bgcover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.animatecss {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
a {
  color: #7197FE;
  text-decoration: none;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  cursor: pointer;
}
a:hover,
a:active {
  color: #7197FE;
  text-decoration: underline;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.clear {
  clear: both;
}
.alpha {
  padding-left: 0 !important;
}
.omega {
  padding-right: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
img.border {
  border: 1px solid #B1B1B1;
  margin-bottom: 5%;
  max-width: 100%;
}
img.border:hover,
img.border:active {
  border: 1px solid #858585;
  cursor: pointer;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.imgwrp img {
  max-width: 100%;
}
img {
  max-width: 100%;
}
.medium-text {
  font-size: 14px;
}
/* --------------------- HEADER LAYOUT --------------------- */
/* --------------------- END HEADER LAYOUT --------------------- */
/* --------------------- BODYWEB LAYOUT --------------------- */
.full {
  align-items: center;
}
.wrp-mainfix {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  width: 100%;
}
.wrp-bgmainform {
  background: #fff;
  max-width: 480px;
  width: 100%;
  box-shadow: 0px 6px 30px #DEE2F3;
  border-radius: 20px;
  min-height: 100px;
  padding: 35px;
}
.wrp-bgmainform h4 {
  margin-bottom: 30px;
  display: block;
}
.shadow {
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins-Medium";
}
h4 {
  font-size: 20px;
}
.btn {
  text-align: center;
  border-radius: 8px;
  padding: 7px 5px;
  background: #7197FE;
  color: #fff;
}
.btn--full {
  display: block;
  width: 100%;
  box-shadow: 0px 4px 20px #BFCBFF;
}
.btn--blue {
  background: #7197FE;
}
.btn--blue2 {
  background: #E7EAFD;
  color: #7197FE;
}
.btn--red {
  background: #FFDAE4;
  color: #FF6B93;
}
.btn--green {
  background: #57C87A;
}
.btn:hover {
  color: #fff;
}
.btn--medium {
  min-width: 110px;
}
.btn--big {
  padding: 6px 10px;
}
.btn--small {
  padding: 3px 10px;
}
.text-left {
  text-align: left;
}
.iteminput {
  margin: 15px 0;
  font-size: 18px;
  position: relative;
  text-align: left;
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
  /* accessibility */
}
.iteminput input[type="text"],
.iteminput input[type="password"],
.iteminput input[type="email"],
.iteminput input[type="number"] {
  width: 100%;
  background: #F8F9FF;
  color: #7197FE;
  text-align: left;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  position: relative;
}
.iteminput input[type="text"]::-webkit-input-placeholder,
.iteminput input[type="password"]::-webkit-input-placeholder,
.iteminput input[type="email"]::-webkit-input-placeholder,
.iteminput input[type="number"]::-webkit-input-placeholder {
  /* Edge */
  color: #BFCBFF;
}
.iteminput input[type="text"]:-ms-input-placeholder,
.iteminput input[type="password"]:-ms-input-placeholder,
.iteminput input[type="email"]:-ms-input-placeholder,
.iteminput input[type="number"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #BFCBFF;
}
.iteminput input[type="text"]::placeholder,
.iteminput input[type="password"]::placeholder,
.iteminput input[type="email"]::placeholder,
.iteminput input[type="number"]::placeholder {
  color: #BFCBFF;
}
.iteminput.image input[type="text"],
.iteminput.image input[type="password"],
.iteminput.image input[type="email"],
.iteminput.image input[type="number"] {
  padding-right: 45px;
}
.iteminput.image::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.iteminput .btn {
  text-align: center;
}
.iteminput a {
  text-align: right;
  display: block;
}
.iteminput label {
  font-size: 14px;
}
.iteminput .text-left {
  text-align: left;
  margin-top: 20px;
}
.iteminput .labeltext {
  display: block;
  text-align: center;
  font-family: "Roboto-Medium";
  font-size: 14px;
}
.iteminput.email::after {
  background: url("../images/icon-message.svg") no-repeat center;
}
.iteminput.fullname::after {
  background: url("../images/icon-user.svg") no-repeat center;
}
.iteminput.password::after {
  background: url("../images/icon-lock.svg") no-repeat center;
}
.iteminput.white [type="checkbox"]:not(:checked) + label:before,
.iteminput.white [type="checkbox"]:checked + label:before {
  background: #fff;
  border: #8B8B8B solid 1px;
}
.iteminput label a {
  margin-left: 5px;
}
.iteminput [type="checkbox"]:not(:checked),
.iteminput [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.iteminput [type="checkbox"]:not(:checked) + label,
.iteminput [type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  display: flex;
  margin-bottom: 0;
  font-size: 14px;
}
.iteminput [type="checkbox"]:not(:checked) + label:before,
.iteminput [type="checkbox"]:checked + label:before {
  content: '';
  position: relative;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #57C87A;
  background: #57C87A;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
}
.iteminput [type="checkbox"]:not(:checked) + label:after,
.iteminput [type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 8px;
  border-left: #fff solid 3px;
  border-bottom: #fff solid 3px;
  left: 3px;
  margin: 0 auto;
  top: 10px;
  transform: translate(0, -50%) rotate(-45deg) !important;
}
.iteminput [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.iteminput [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.iteminput [type="checkbox"]:disabled:not(:checked) + label:before,
.iteminput [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.iteminput [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.iteminput [type="checkbox"]:disabled + label {
  margin-bottom: 0;
}
.iteminput [type="checkbox"]:checked:focus + label:before,
.iteminput [type="checkbox"]:not(:checked):focus + label:before {
  background: #57C87A;
}
.iteminput .wrp-switchmode {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 15px;
}
.iteminput .wrp-switchmode .wrp-switchicon {
  margin-right: 15px;
  margin-left: 0;
}
.iteminput .wrp-switchmode .wrp-switchicon.dark {
  background: #7197FE;
}
.iteminput .wrp-switchmode .wrp-switchicon.dark .thub {
  background: #fff;
  border: #F8F9FF;
}
.iteminput .ui-widget.ui-widget-content {
  background: #F8F9FF;
  border: none;
}
.iteminput .ui-slider-horizontal {
  height: 6px;
}
.iteminput .ui-slider-horizontal .ui-slider-handle {
  background: url("../images/handleslider.svg") no-repeat center;
  border: none;
}
.pages-fluid {
  justify-content: space-between;
}
.pages-fluid .wrp-sidebar {
  min-width: 340px;
  max-width: 340px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: #fff;
  height: 100%;
  box-shadow: 0px 6px 30px #DEE2F3;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.pages-fluid .wrp-sidebar.active {
  display: block;
}
.pages-fluid .wrp-sidebar.small {
  min-width: 105px;
  max-width: 105px;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.pages-fluid .wrp-sidebar.small .big {
  display: none;
}
.pages-fluid .wrp-sidebar.small .minimalis {
  display: block;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.pages-fluid .wrp-sidebar.small .mainmenu ul li span {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  display: none;
}
.pages-fluid .wrp-sidebar.small .mainlogo {
  padding-left: 30px;
}
.pages-fluid .wrp-sidebar.small .wrp-switchmode {
  flex-direction: column;
  align-items: baseline;
}
.pages-fluid .wrp-sidebar.small .wrp-switchmode span {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  display: none;
}
.pages-fluid .wrp-sidebar.small .wrp-switchmode .wrp-switchicon {
  margin-left: 0;
  margin-top: 20px;
}
.pages-fluid .page-wrapper {
  flex: 1;
  padding: 0 50px;
  padding-top: 30px;
  margin-left: 340px;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.pages-fluid .page-wrapper.big {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  margin-left: 105px;
}
.mainlogo {
  padding-left: 25px;
  margin-bottom: 50px;
  margin-top: 10px;
  min-height: 63px;
  display: flex;
  align-items: center;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.mainlogo .big {
  display: block;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.mainlogo .minimalis {
  display: none;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.mainmenu {
  font-size: 18px;
}
.mainmenu .mainicon {
  width: 26px;
  display: inline-block;
  margin-right: 10px;
}
.mainmenu ul {
  margin: 0;
}
.mainmenu li {
  display: block;
  margin: 7px 0;
}
.mainmenu li a {
  display: flex;
  align-items: center;
  color: #8B8B8B;
  padding: 10px 10px 10px 35px;
  border-left: 5px transparent solid;
}
.mainmenu li a:hover,
.mainmenu li a.active {
  border-left: #7197FE solid 5px;
  color: #7197FE;
  text-decoration: none;
}
.mainmenu li a:hover svg path,
.mainmenu li a.active svg path {
  fill: #7197FE;
}
.mainmenu li svg {
  margin-right: 5px;
}
.mainmenu li span {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  position: relative;
}
.wrp-switchmode {
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-right: 15px;
  margin-top: 90px;
  font-size: 18px;
}
.wrp-switchmode .mainicon {
  margin-right: 10px;
  width: 26px;
}
.wrp-switchmode .wrp-switchicon {
  background: #F4F4F4;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.wrp-switchmode .wrp-switchicon .thub {
  background: #BFCBFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrp-switchmode .wrp-switchicon.dark {
  background: #7197FE;
}
.wrp-switchmode .wrp-switchicon.dark .thub {
  left: auto;
  right: 0;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  background: #fff;
}
.wrp-section.mainbody {
  padding-bottom: 20px;
}
.wrp-section .contents {
  display: flex;
  justify-content: space-between;
}
.wrp-section .contents .left {
  display: flex;
  align-items: center;
}
.wrp-section .contents .right {
  display: flex;
  align-items: center;
}
.wrp-section .contents .left.md-8,
.wrp-section .contents .right.md-8 {
  flex: 2.3;
}
.wrp-section.header {
  margin-bottom: 25px;
}
.wrp-section.white .feature-middle {
  background: #fff;
  flex: 1;
  margin: 15px 0;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
}
.feature-middle .wrp-chart {
  margin: 0 auto;
}
.feature-middle .wrp-chart canvas {
  margin: 0 auto;
}
.nav {
  width: 25px;
  cursor: pointer;
  margin-right: 30px;
}
.nav span {
  background: #373737;
  width: 100%;
  height: 3px;
  margin: 2px 0;
}
.wrp-search {
  display: flex;
  align-items: center;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
  border-radius: 10px;
  padding: 10px;
  min-width: 340px;
}
.wrp-search input[type="text"] {
  border: none;
  flex: 1;
  background: none;
}
.wrp-search input[type="submit"],
.wrp-search input[type="button"] {
  background: url("../images/icon-search.svg") center no-repeat;
  padding: 0 10px;
  border: none;
  margin-left: 6px;
}
.wrp-notif {
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 52px;
}
.wrp-notif .imgwrp {
  position: relative;
}
.wrp-notif .imgwrp span {
  background: #FF6B93;
  width: 7px;
  height: 7px;
  position: absolute;
  right: 0;
  top: 0;
}
.wrp-navuserprofile {
  display: flex;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
}
.wrp-navuserprofile::after {
  content: "";
  background: url("../images/arrow-down.svg") no-repeat center;
  width: 30px;
  height: 30px;
}
.wrp-navuserprofile label {
  margin: 0 5px;
  padding-left: 5px;
}
.feature-small {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
  flex: 1;
  border-radius: 10px;
  font-family: "Roboto-Regular";
  color: #8B8B8B;
  margin: 25px;
}
.feature-small:first-child {
  margin-left: 0;
}
.feature-small:last-child {
  margin-right: 0;
}
.feature-small h4 {
  color: #373737;
  font-family: "PoppinsBold";
  font-size: 36px;
  display: block;
  margin: 0;
  line-height: 30px;
}
.feature-small .imgwrp {
  background: #E7EAFD;
  padding: 10px 15px;
  border-radius: 10px;
  height: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
}
.feature-small .left {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start !important;
}
h4.title-section {
  font-family: "Poppins-Medium";
  font-size: 16px;
  color: #373737;
  width: 100%;
  margin-bottom: 20px;
}
h4.line {
  border-bottom: #8B8B8B solid 1px;
  padding-bottom: 10px;
}
.wrp-chart {
  display: block;
  position: relative;
  height: 270px;
  overflow: hidden;
}
.chartjs-tooltip {
  position: absolute;
  top: 50%;
  transform: translate(0, -59%);
  text-align: center;
  display: block;
  left: 0;
  right: 0;
  margin-top: -15px;
  font-family: "Poppins-Medium";
  font-size: 38px;
  color: #7197FE;
}
.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.title-row h4.title-section {
  margin-bottom: 0;
}
.select_custom {
  width: auto;
  min-width: 75px;
  height: 33px;
  position: relative;
  vertical-align: middle;
  color: #7197FE;
}
.select_custom select {
  border: none;
  z-index: 2;
  padding: 5px 10px;
  padding-left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #7197FE;
  background: none;
}
.select_custom .select_icon {
  position: absolute;
  right: 0;
  top: 7px;
  width: 20px;
  height: 20px;
  color: blue;
  background: url("../images/arrow-down-small.svg") no-repeat center;
}
table.dataTable tr th.select-checkbox.selected::after {
  content: "✔";
  margin-top: -11px;
  margin-left: -4px;
  text-align: center;
  text-shadow: #b0bed9 1px 1px, #b0bed9 -1px -1px, #b0bed9 1px -1px, #b0bed9 -1px 1px;
}
.wrp-tablestyle table.dataTable thead th,
.wrp-tablestyle table.dataTable thead td {
  border-bottom: #E7EAFD solid 1px;
  padding: 20px 10px;
}
.wrp-tablestyle table.dataTable thead th.select-checkbox:after,
.wrp-tablestyle table.dataTable thead td.select-checkbox:after {
  top: auto;
}
.wrp-tablestyle table.dataTable thead th.select-checkbox:before,
.wrp-tablestyle table.dataTable tbody th.select-checkbox:before,
.wrp-tablestyle table.dataTable thead td.select-checkbox:before,
.wrp-tablestyle table.dataTable tbody td.select-checkbox:before {
  top: 50% !important;
  border: #8B8B8B solid 1px;
  width: 16px;
  height: 16px;
}
.wrp-tablestyle table.dataTable thead th.select-checkbox:after,
.wrp-tablestyle table.dataTable tbody th.select-checkbox:after,
.wrp-tablestyle table.dataTable thead td.select-checkbox:after,
.wrp-tablestyle table.dataTable tbody td.select-checkbox:after {
  margin-top: 0;
}
.wrp-tablestyle table.dataTable.display tbody td {
  background: none !important;
}
.wrp-tablestyle table.dataTable.display tbody th,
.wrp-tablestyle table.dataTable.display tbody td {
  padding: 15px 10px;
}
.wrp-tablestyle table.dataTable tr {
  background: none;
}
.wrp-tablestyle table.dataTable tr.odd {
  background: none !important;
}
.wrp-tablestyle table.dataTable.no-footer {
  border-bottom: 0;
}
.stribtables tbody td span {
  color: #8B8B8B;
  opacity: 0.9;
}
.stribtables .name {
  color: #7197FE;
}
#example2_length {
  display: none;
}
.maintitle {
  margin-top: 20px;
}
.maintitle h2 {
  font-family: "Poppins-Medium";
  font-size: 24px;
  color: #373737;
}
.breadcump {
  font-family: "Roboto-Regular";
  font-size: 16px;
}
.breadcump li {
  display: inline-block;
}
.breadcump li::after {
  content: "/";
  display: inline;
  margin: 0 5px;
}
.breadcump li:last-child::after {
  content: none;
}
.breadcump li a {
  color: #7197FE;
}
.breadcump li:last-child a {
  color: #8B8B8B;
}
.wrp-boxsidebar {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 6px 20px #E9EDFF;
  padding: 20px;
  font-size: 12px;
  font-family: "Roboto-Medium";
}
.wrp-boxsidebar h4 {
  font-family: "Poppins-Medium";
  font-size: 16px;
  color: #373737;
  border-bottom: #8B8B8B solid 1px;
  padding-bottom: 10px;
}
.wrp-boxsidebar ul li {
  display: flex;
  align-items: center;
  padding: 7px 0;
}
.wrp-boxsidebar ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  position: relative;
  color: #8B8B8B;
}
.wrp-boxsidebar ul li a:hover,
.wrp-boxsidebar ul li a .current {
  text-decoration: none;
  color: #7197FE;
}
.wrp-boxsidebar ul li a:hover svg path,
.wrp-boxsidebar ul li a .current svg path {
  fill: #7197FE;
}
.wrp-boxsidebar ul li a span {
  background: #7197FE;
  color: #fff;
  border-radius: 30px;
  min-width: 40px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  right: 0;
  line-height: 16px;
}
.wrp-boxsidebar ul li .mainicon {
  margin-right: 10px;
  min-width: 17px;
}
.vgap {
  margin: 15px 0;
  float: left;
  overflow: hidden;
  width: 100%;
}
.vgap--first {
  margin-top: 0;
}
.no-margin {
  margin: 0 !important;
}
.wrp-searchsmall {
  display: flex;
  align-items: center;
  border: #E3E3E3 solid 1px;
  border-radius: 5px;
  position: relative;
  height: 31px;
  padding-right: 50px;
  padding-left: 5px;
}
.wrp-searchsmall input[type="text"] {
  min-width: 170px;
  border: none;
}
.wrp-searchsmall input[type="submit"],
.wrp-searchsmall input[type="button"] {
  background: url("../images/icon-search-white.svg") #7197FE center no-repeat;
  border: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 30px;
  border-radius: 5px;
}
#example2_filter {
  position: relative;
  margin-top: -47px;
}
#example2_filter label::after {
  content: "";
  background: url("../images/icon-search-white.svg") #7197FE center no-repeat;
  border: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 30px;
  border-radius: 5px;
}
#example2_filter input[type="search"] {
  min-width: 170px;
  height: 30px;
  padding-right: 45px;
  position: relative;
  border: #E3E3E3 solid 1px;
}
#example2_wrapper tfoot,
#example2_wrapper .dataTables_info {
  display: none;
}
#example2_wrapper.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #7197FE;
  color: #fff !important;
  border: none;
}
#example2_wrapper .dataTables_paginate {
  padding: 0;
}
#example2_wrapper.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #7197FE !important;
  border: transparent;
}
#example2_wrapper.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  text-indent: -1000px;
  position: relative;
  background: url("../images/paging-left.svg") no-repeat center;
}
#example2_wrapper.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
  background: url("../images/paging-left.svg") no-repeat center #E7EAFD;
}
#example2_wrapper.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  text-indent: -1000px;
  position: relative;
  background: url("../images/paging-right.svg") no-repeat center;
}
#example2_wrapper.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
  background: url("../images/paging-right.svg") no-repeat center #E7EAFD;
}
#example2_wrapper.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  background: #7197FE;
  color: #fff !important;
  border: none;
}
.dataTables_paginate {
  background: #E7EAFD;
  color: #7197FE;
  border-radius: 30px;
  margin-top: 30px;
  overflow: hidden;
}
.dataTables_paginate a {
  color: #7197FE;
}
.list-iconaction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-iconaction .boxbordered {
  display: flex;
  margin-right: 10px;
}
.list-iconaction .boxbordered a {
  border-top: #7197FE solid 1px;
  border-right: #7197FE solid 1px;
  border-bottom: #7197FE solid 1px;
  border-left: none;
  padding: 5px 10px;
}
.list-iconaction .boxbordered a:first-child {
  border-left: #7197FE solid 1px;
  border-radius: 5px 0 0 5px;
}
.list-iconaction .boxbordered a:last-child {
  border-radius: 0px 5px 5px 0px;
}
.list-iconaction .boxbordered a.red {
  border-top: #FF6B93 solid 1px;
  border-right: #FF6B93 solid 1px;
  border-bottom: #FF6B93 solid 1px;
}
.list-iconaction .boxbordered a.red:first-child {
  border-left: #FF6B93 solid 1px;
}
#external-events-listing .fc-event {
  display: block;
  border-radius: 5px;
  background: #F8F9FF;
  border: none;
  padding: 10px;
  font-size: 12px;
  margin: 10px 0;
}
#external-events-listing .fc-event.green {
  background: #57C87A;
}
#external-events-listing .fc-event.yellow {
  background: #FFB946;
}
#external-events-listing .fc-event.pink {
  background: #FF6B93;
}
#external-events-listing .fc-event.blue {
  background: #7197FE;
}
#external-events-listing .fc-event.blue2 {
  background: #BFCBFF;
}
.wrp-createevent .customevent {
  display: block;
  width: 100%;
  border: #E3E3E3 solid 1px;
  padding: 5px 10px;
  margin: 10px 0;
  margin-bottom: 20px;
}
.wrp-coloroption {
  position: relative;
  padding-left: 75px;
}
.wrp-coloroption label {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
.wrp-coloroption .wrp-listcolor .item-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 2px;
  border-radius: 5px;
}
.wrp-coloroption .wrp-listcolor .item-color.green {
  background: #57C87A;
}
.wrp-coloroption .wrp-listcolor .item-color.yellow {
  background: #FFB946;
}
.wrp-coloroption .wrp-listcolor .item-color.pink {
  background: #FF6B93;
}
.wrp-coloroption .wrp-listcolor .item-color.blue {
  background: #7197FE;
}
.wrp-coloroption .wrp-listcolor .item-color.blue2 {
  background: #BFCBFF;
}
.mycustom-calendar {
  margin-bottom: 50px;
}
.mycustom-calendar .fc-button-group {
  border: #7197FE solid 1px;
  border-radius: 5px;
}
.mycustom-calendar .fc-button-group .fc-state-default {
  background: none;
  color: #7197FE;
  border: none;
}
.mycustom-calendar .fc-button-group .fc-state-active {
  background: #7197FE;
  color: #fff;
  box-shadow: none;
  border: none;
}
.mycustom-calendar button:focus {
  outline: #7197FE;
}
.mycustom-calendar .fc-center h2 {
  font-size: 18px;
  font-family: "Poppins-Medium";
  margin: 0;
}
.mycustom-calendar .fc-toolbar {
  margin-bottom: 30px;
}
.mycustom-datatable .dataTables_length {
  display: none;
}
.mycustom-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #7197FE;
  color: #fff !important;
  border: none;
}
.mycustom-datatable .dataTables_paginate {
  padding: 0;
  margin: 15px 0;
}
.mycustom-datatable .dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #7197FE !important;
  border: transparent;
}
.mycustom-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  text-indent: -1000px;
  position: relative;
  background: url("../images/paging-left.svg") no-repeat center;
}
.mycustom-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
  background: url("../images/paging-left.svg") no-repeat center #E7EAFD;
}
.mycustom-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.next {
  text-indent: -1000px;
  position: relative;
  background: url("../images/paging-right.svg") no-repeat center;
}
.mycustom-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
  background: url("../images/paging-right.svg") no-repeat center #E7EAFD;
}
.mycustom-datatable .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  background: #7197FE;
  color: #fff !important;
  border: none;
}
.mycustom-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  border: none;
}
.mycustom-datatable .line {
  background: #F4F4F4;
  height: 7px;
  min-width: 1px;
  border-radius: 30px;
  display: block;
}
.mycustom-datatable .line.blue {
  background: #7197FE;
}
.mycustom-datatable .line.yellow {
  background: #FFB946;
}
.mycustom-datatable .line.green {
  background: #57C87A;
}
.mycustom-datatable .line.red2 {
  background: #FF6B93;
}
.mycustom-datatable .line.blue2 {
  background: #BFCBFF;
}
.itemform {
  margin-bottom: 15px;
}
.itemform label {
  display: block;
  font-family: "Poppins-Regular";
  margin-bottom: 5px;
}
.itemform input[type="email"],
.itemform input[type="text"],
.itemform input[type="number"],
.itemform input[type="password"],
.itemform textarea {
  display: block;
  border: #E3E3E3 solid 1px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
}
.itemform input[type="email"].green,
.itemform input[type="text"].green,
.itemform input[type="number"].green,
.itemform input[type="password"].green,
.itemform textarea.green {
  border: #57C87A solid 1px;
  background: url("../images/icon-check-green.svg") no-repeat 99% center #fff;
  padding-right: 25px;
}
.itemform input[type="email"].yellow,
.itemform input[type="text"].yellow,
.itemform input[type="number"].yellow,
.itemform input[type="password"].yellow,
.itemform textarea.yellow {
  border: #FFB946 solid 1px;
}
.itemform input[type="email"].red2,
.itemform input[type="text"].red2,
.itemform input[type="number"].red2,
.itemform input[type="password"].red2,
.itemform textarea.red2 {
  border: #FF6B93 solid 1px;
  background: url("../images/icon-error.svg") no-repeat 99% center #fff;
  padding-right: 25px;
}
.itemform textarea {
  min-height: 100px;
}
.itemform.iteminput {
  margin-top: 20px;
  margin-bottom: 20px;
}
.itemform-flex {
  margin-bottom: 15px;
  position: relative;
  padding-left: 100px;
}
.itemform-flex label {
  display: block;
  font-family: "Poppins-Regular";
  margin-bottom: 5px;
  position: absolute;
  left: 0;
  top: 5px;
}
.itemform-flex input[type="email"],
.itemform-flex input[type="text"],
.itemform-flex input[type="number"],
.itemform-flex input[type="password"] {
  display: block;
  border: #E3E3E3 solid 1px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
}
.custom-upload {
  position: relative;
}
.custom-upload input[type=file] {
  outline: none;
  position: relative;
  text-align: right;
  -moz-opacity: 0 ;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.custom-upload .fake-file {
  background: url(../images/btn-upload.svg) center right no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
  line-height: 100%;
}
.custom-upload .fake-file .disbaleunput {
  background: none;
  display: block;
  border: #E3E3E3 solid 1px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
}
.custom-upload .fake-file input {
  height: 35px;
}
.inputradio {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.inputradio input {
  position: absolute;
  left: -9999px;
}
.inputradio input:checked + span {
  border: none;
}
.inputradio input:checked + span:before {
  background: url("../images/radio-checked.svg") no-repeat left center;
}
.inputradio span {
  display: flex;
  align-items: center;
  border-radius: 99em;
  transition: 0.25s ease;
}
.inputradio span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background: url("../images/radio-blank.svg") no-repeat left center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
}
.select-box-wrapper {
  border: #E3E3E3 solid 1px;
  border-radius: 5px;
}
select {
  width: 100%;
}
.select-box {
  background-color: red;
  background: #fff url("../images/arrow-select.svg") no-repeat 98% 50%;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px 10px;
  width: 100%;
}
.select-box select {
  color: #8B8B8B;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
}
.select-box select:focus {
  outline: none;
}
/* --------------------- END BODYWEB LAYOUT --------------------- */
/* --------------------- FOOTER LAYOUT --------------------- */
.header-mobile {
  background: #fff;
  width: 100%;
  min-height: 50px;
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
  padding: 15px;
  display: none;
  align-items: center;
  justify-content: flex-end;
}
.header-mobile .mainlogoxs {
  justify-self: flex-start;
  flex: 1;
}
.header-mobile .wrp-navuserprofile {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* --------------------- END FOOTER LAYOUT --------------------- */
/* Mobile device */
@media (max-width: 991px) {
  body {
    display: block;
  }
  .pages-fluid .wrp-sidebar {
    min-width: 105px;
    max-width: 105px;
    display: none;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
  }
  .pages-fluid .wrp-sidebar .big {
    display: none;
  }
  .pages-fluid .wrp-sidebar .minimalis {
    display: block;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
  }
  .pages-fluid .wrp-sidebar .mainmenu ul li span {
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
    display: none;
  }
  .pages-fluid .wrp-sidebar .mainlogo {
    padding-left: 30px;
  }
  .pages-fluid .wrp-sidebar .wrp-switchmode {
    flex-direction: column;
    align-items: baseline;
  }
  .pages-fluid .wrp-sidebar .wrp-switchmode span {
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
    display: none;
  }
  .pages-fluid .wrp-sidebar .wrp-switchmode .wrp-switchicon {
    margin-left: 0;
    margin-top: 20px;
  }
  .pages-fluid .page-wrapper {
    margin-left: 0px;
    padding: 0 15px;
    padding-top: 15px;
  }
  .pages-fluid .page-wrapper .header {
    display: none;
  }
  .header-mobile {
    display: flex;
  }
  .wrp-tablestyle {
    overflow-x: scroll;
  }
  .mycustom-calendar .fc-center h2 {
    margin-top: 20px;
  }
}
/* Tablet device */
/* Desktop small screen */
/* Desktop large screen */
