/* CSS */

@color-blue: #7197FE;
@color-blue1: #F8F9FF;
@color-blue2: #BFCBFF;
@color-blue3: #E7EAFD;
@color-red: #FFDAE4;
@color-red2: #FF6B93;
@color-green: #57C87A;
@color-gray: #8B8B8B;
@color-gray2: #F4F4F4;
@color-black: #373737;

@font-Roboto-Regular: "Roboto-Regular";
@font-Roboto-Medium: "Roboto-Medium";
@font-Roboto-Bold: "Roboto-Bold";
@font-Poppins-Regular: "Poppins-Regular";
@font-Poppins-Medium: "Poppins-Medium";
@font-Poppins-SemiBold: "Poppins-SemiBold";
@font-Poppins-Bold: "PoppinsBold";

@font-size-medium: 14px;

body {
	color: #333;
	font-size: @font-size-medium;
	font-family: @font-Roboto-Regular, sans-serif;
	line-height: 23px;
	margin: 0;
	display: flex;
	min-height: 100vh;
	overflow-x: hidden !important;
	background: @color-blue1;
}

.bgcover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.animatecss {
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;	
}

a {
	color: @color-blue;
	text-decoration: none;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
	cursor:pointer;
} 

a:hover, a:active {
	color: @color-blue;
	text-decoration: underline;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.clear {
	clear: both;
}

.alpha { 
	padding-left: 0 !important; 
}

.omega { 
	padding-right: 0 !important; 
}

.no-padding {
	padding: 0 !important;
}

img.border {
	border: 1px solid #B1B1B1;
	margin-bottom: 5%;
	max-width: 100%;
}

img.border:hover, img.border:active {
	border: 1px solid #858585;
	cursor: pointer;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.wrapper { display: block; margin: 0 auto; text-align: center; max-width: 1200px; padding-left: 15px; padding-right:15px; }
.imgwrp img { max-width:100%;}
img {
	max-width:100%;
}

.medium-text {
	font-size: @font-size-medium;
}
/* --------------------- HEADER LAYOUT --------------------- */
#headerweb {

}




/* --------------------- END HEADER LAYOUT --------------------- */

/* --------------------- BODYWEB LAYOUT --------------------- */

#bodyweb {
}

.full {
	align-items: center;
}

.wrp-mainfix {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px;
	width: 100%;
}

.wrp-bgmainform {
	background: #fff;
	max-width: 480px;
	width: 100%;
	box-shadow: 0px 6px 30px #DEE2F3;
	border-radius: 20px;
	min-height: 100px;	
	padding: 35px;
	h4 {
		margin-bottom: 30px;
		display: block;
	}
}

.shadow {
	-webkit-box-shadow: 0px 2px 10px #E9EDFF;	
	-moz-box-shadow: 0px 2px 10px #E9EDFF;	
	-o-box-shadow: 0px 2px 10px #E9EDFF;	
	box-shadow: 0px 2px 10px #E9EDFF;	
}
h1,h2,h3,h4,h5,h6 {
	font-family: @font-Poppins-Medium;
}

h4 {
	font-size: 20px;
}

.btn {
	text-align: center;
	border-radius: 8px;
	padding: 7px 5px;
	background: @color-blue;
	color: #fff;
	&--full {
		display: block;
		width: 100%;
	}
	&--blue {
		background: @color-blue;
	}
	&--blue2 {
		background: @color-blue3;
		color: @color-blue;
	}
	&--red {
		background: @color-red;
		color: @color-red2;
	}	
	&--green {
		background: @color-green;
	}
	&:hover {
		color: #fff;
	}
	&--medium {
		min-width: 110px;
	}
}

.text-left {
	text-align: left;
}


.iteminput {
	margin: 15px 0;
	font-size: 18px;
	position: relative;
	text-align: left;
	input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
		width: 100%;
		background: @color-blue1;
		color: @color-blue;
		text-align: left;
		padding: 10px 15px;
		border-radius: 8px;
		border: none;
		position: relative;
		&::-webkit-input-placeholder { /* Edge */
			color: @color-blue2;
		}		  
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: @color-blue2;
		}		  
		&::placeholder {
			color: @color-blue2;
		}		
	}
	&.image {
		input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
			padding-right: 45px;
		}
		&::after {
			content: "";
			width: 20px;
			height: 20px;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translate(0, -50%);	
			z-index: 1;
		}
	}
	.btn {
		text-align: center;
	}
	a {
		text-align: right;
		display: block;
	}
	.text-left {
		text-align: left;
		margin-top: 20px;
	}
	.labeltext {
		display: block;
		text-align: center;
		font-family: @font-Roboto-Medium;
		font-size: 14px;
	}
	&.email {		
		&::after {
			background: url("../images/icon-message.svg") no-repeat center;
		}
	}
	&.fullname {		
		&::after {
			background: url("../images/icon-user.svg") no-repeat center;
		}
	}
	&.password {		
		&::after {
			background: url("../images/icon-lock.svg") no-repeat center;
		}
	}
	label {
		a {
			margin-left: 5px;
		}
	}

	/* Base for label styling */
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		cursor: pointer;
		display: flex;
		margin-bottom: 0;
		font-size: 14px;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
		position: relative;
		left: 0; top: 0;
		width: 22px;
		height: 22px;
		border: 1px solid @color-green;
		background: @color-green;
		border-radius: 2px;
		display: inline-block;
		margin-right: 5px;
	}
/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: "";
		position: absolute;
		width: 15px;
		height: 8px;
		border-left: #fff solid 3px;
		border-bottom: #fff solid 3px;
		left: 3px;
		margin: 0 auto;
		top:10px;
		transform: translate(0, -50%) rotate(-45deg) !important;
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
		transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
	/* disabled checkbox */
	[type="checkbox"]:disabled:not(:checked) + label:before,
	[type="checkbox"]:disabled:checked + label:before {
		box-shadow: none;
		border-color: #bbb;
		background-color: #ddd;
	}
	[type="checkbox"]:disabled:checked + label:after {
		color: #999;
	}
	[type="checkbox"]:disabled + label {
		margin-bottom: 0;
	}
	/* accessibility */
	[type="checkbox"]:checked:focus + label:before,
	[type="checkbox"]:not(:checked):focus + label:before {
		background: @color-green;
	}
}

.pages-fluid {
	@widtsidebar: 340px;
	justify-content: space-between;	
	.wrp-sidebar {
		min-width: @widtsidebar;
		max-width: @widtsidebar;
		position: fixed;
		left: 0;
		top: 0;
		background: #fff;
		height: 100%;
		box-shadow: 0px 6px 30px #DEE2F3;		
	}
	.page-wrapper {
		flex: 1;
		padding: 0 50px;
		padding-top: 30px;
		margin-left: @widtsidebar;
	}
}

.mainlogo {
	padding-left: 25px;
	margin-bottom: 50px;
	margin-top: 10px;
}
.mainmenu {
	font-size: 18px;
	.mainicon {
		width: 26px;
		display: inline-block;
		margin-right: 10px;
	}
	ul {
		margin: 0;
	}
	li {
		display: block;
		margin: 7px 0;
		a {
			display: flex;
			align-items: center;
			color:@color-gray;
			padding: 10px 10px 10px 35px;
			border-left: 5px transparent solid;
			&:hover, &.active {
				border-left: @color-blue solid 5px;
				color: @color-blue;
				text-decoration: none;
				svg {
					path {
						fill: @color-blue;
					}
				}	
			}
		}
		svg {
			margin-right: 5px;
		}
	}
}

.wrp-switchmode {
	display: flex;
	align-items: center;
	padding-left: 35px;
	padding-right: 15px;
	margin-top: 90px;
	font-size: 18px;
	.mainicon {
		margin-right: 10px;
		width: 26px;
	}
	.wrp-switchicon {
		background: @color-gray2;
		position: relative;
		width: 40px;
		height: 20px;
		border-radius: 30px;
		margin-left: 20px;
		cursor: pointer;
		.thub {
			background: @color-blue2;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 0;
			.animatecss;
		}
		&.dark {
			.thub {
				left: auto;
				right: 0;
				.animatecss;
			}
		}
	}
}

.wrp-section {
	.contents {
		display: flex;
		justify-content: space-between;
		.left {
			display: flex;
			align-items: center;
		}
		.right {
			display: flex;
			align-items: center;
		}
		.left, .right {
			&.md-8 {
				flex: 2.3;
			}
		}
	}
	&.header {
		margin-bottom: 25px;
	}
	&.white {
		.feature-middle {
			background: #fff;
			flex: 1;
			margin: 25px 0;
			padding: 20px;
			flex-direction: column;
			border-radius: 10px;
			.shadow;
		}
	}
}

.feature-middle {
	.wrp-chart {
		margin: 0 auto;
		canvas {
			margin: 0 auto;
		}
	}
}

.nav {
	width: 25px;
	cursor: pointer;
	margin-right: 30px;
	span {
		background: @color-black;
		width: 100%;
		height: 3px;
		margin: 2px 0;
	}
}

.wrp-search {
	display: flex;
	align-items: center;
	background: #FFFFFF;
	.shadow;
	border-radius: 10px;
	padding: 10px;	
	min-width: 340px;
	input[type="text"] {
		border: none;
		flex: 1;
	}
	input[type="submit"], input[type="button"] {
		background: url("../images/icon-search.svg") center no-repeat;
		padding: 0 10px;
		border: none;
		margin-left: 6px;
	}
}

.wrp-notif {
	background: #fff;
	.shadow;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 52px;
	.imgwrp {
		position: relative;
		span {
			background: @color-red2;
			width: 7px;
			height: 7px;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.wrp-navuserprofile {
	display: flex;
	background: #fff;
	height: 100%;
	.shadow;
	align-items: center;
	padding: 0 15px;
	border-radius: 10px;	
	margin-left: 15px;
	position: relative;
	cursor: pointer;
	&::after {
		content: "";
		background: url("../images/arrow-down.svg") no-repeat center;		
		width: 30px;
		height: 30px;
	}
	label {
		margin: 0 5px;
		padding-left: 5px;
	}
}

.feature-small {
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px;
	.shadow;
	flex: 1;
	border-radius: 10px;
	font-family: @font-Roboto-Regular;
	color: @color-gray;
	margin: 25px;
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
	h4 {
		color: @color-black;
		font-family: @font-Poppins-Bold;
		font-size: 36px;
		display: block;
		margin: 0;
		line-height: 30px;
	}
	.imgwrp {
		background: @color-blue3;
		padding: 10px 15px;
		border-radius: 10px;
		height: 100%;
		min-height: 60px;
		display: flex;
		align-items: center;
	}
	.left {
		display: flex;
		flex-direction: column;
		text-align: left;
		align-items: flex-start !important;
	}
}

h4 {
	&.title-section {
		font-family: @font-Poppins-Medium;
		font-size: 16px;
		color: @color-black;
		width: 100%;
		margin-bottom: 20px;
	}
}

.wrp-chart {
	display: block;
	position: relative;
	height: 270px;
	overflow: hidden;
}

.chartjs-tooltip {
	position: absolute;
	top: 50%;
	transform: translate(0, -59%);
	text-align: center;
	display: block;
	left: 0;
	right: 0;
	margin-top: -15px;
	font-family: @font-Poppins-Medium;
	font-size: 38px;
	color: @color-blue;
}

.title-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	h4.title-section {
		margin-bottom: 0;
	}
}
.select_custom {
	width: auto;
	min-width: 75px;
	height: 33px;
	position: relative;
	vertical-align: middle;
	background: #fff;
	color: @color-blue;
}	
.select_custom	select {
	border: none;
	z-index: 2;
	padding: 5px 10px;
	padding-left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: @color-blue;

}
.select_custom .select_icon {
	position: absolute;
	right: 0;
	top: 7px;
	width: 20px;
	height:20px;
	color:blue;
	background: url("../images/arrow-down-small.svg") no-repeat center;
}

table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}

.wrp-tablestyle {
	table {
		&.dataTable {
			thead {
				th,td {
					border-bottom: @color-blue3 solid 1px;
					padding: 20px 10px;
					&.select-checkbox:after {
						top: auto;
					}	
				}
			}
			thead, tbody {
				th, td {
					&.select-checkbox:before {
						top: 50% !important;
						border: @color-gray solid 1px;
						width: 16px;
						height: 16px;
					}
					&.select-checkbox:after {
						margin-top: 0;
					}
				}
			}
			&.display {
				tbody {
					td{
						background: none !important;
					}
					th,td {
						padding: 15px 10px;
					}
				}
			}
			tr {
				background: none;
				&.odd {
					background: none !important;
				}
			}
			&.no-footer {
				border-bottom: 0;
			}
		}
	}
}

.maintitle {
	h2 {
		font-family: @font-Poppins-Medium;
		font-size: 24px;
		color: @color-black;
	}
}

.breadcump {
	font-family: @font-Roboto-Regular;
	font-size: 16px;
	li {
		display: inline-block;
		&::after {
			content: "/";
			display: inline;
			margin: 0 5px;
		}
		&:last-child {
			&::after {
				content: none;
			}
		}
		a {
			color: @color-blue;
		}
		&:last-child {
			a {
				color: @color-gray;
			}
		}
	}
}

/* --------------------- END BODYWEB LAYOUT --------------------- */

/* --------------------- FOOTER LAYOUT --------------------- */
#footerweb {
}


/* --------------------- END FOOTER LAYOUT --------------------- */

/* Mobile device */
@media (max-width: 767px) {
}

/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Desktop small screen */
@media (min-width: 992px) {
}

/* Desktop large screen */
@media (min-width: 1200px) {
}

