/* CSS */

@color-blue: #7197FE;
@color-blue1: #F8F9FF;
@color-blue2: #BFCBFF;
@color-blue3: #E7EAFD;
@color-red: #FFDAE4;
@color-red2: #FF6B93;
@color-green: #57C87A;
@color-gray: #8B8B8B;
@color-gray2: #F4F4F4;
@color-gray3: #E3E3E3;
@color-gray4: #CBCBCB;
@color-black: #373737;
@color-yellow: #FFB946;
@color-dark: #0B0B15;
@color-dark2: #2B2A35;
@color-white: #fff;


@font-Roboto-Regular: "Roboto-Regular";
@font-Roboto-Medium: "Roboto-Medium";
@font-Roboto-Bold: "Roboto-Bold";
@font-Poppins-Regular: "Poppins-Regular";
@font-Poppins-Medium: "Poppins-Medium";
@font-Poppins-SemiBold: "Poppins-SemiBold";
@font-Poppins-Bold: "PoppinsBold";

@font-size-medium: 14px;

@radius: 10px;

body {
	color: #333;
	font-size: @font-size-medium;
	font-family: @font-Roboto-Regular, sans-serif;
	line-height: 23px;
	margin: 0;
	display: flex;
	min-height: 100vh;
	overflow-x: hidden !important;
	background: @color-blue1;
	.animatecss;
	&.dark {
		background: @color-dark2;
		.header-mobile {
			background: @color-dark;
			color: #fff;
			box-shadow: 0px 2px 10px #1C2437;
		}
		.animatecss;
		.wrp-sidebar {
			background: @color-dark;
			box-shadow: 0px 6px 30px #1C2437;
		}
		.mainmenu {
			li {
				a {
					color: @color-gray4;
				}
			}
		}
		.mainicon {
			svg path{
				fill:@color-gray4;
			}
		}
		.wrp-switchmode {
			color: @color-gray4;
		}
		.nav span {
			background: @color-white;
		}
		.wrp-search {
			background: @color-dark;
			box-shadow: 0px 2px 10px #1C2437;
		}
		.feature-small {
			background: @color-dark;
			color: @color-white;
			box-shadow: 0px 6px 20px #1C2437;
			.imgwrp {
				background: @color-dark2;
			}
			h4 {
				color: @color-white;
			}
		}
		.wrp-notif {
			background: @color-dark;
			box-shadow: 0px 2px 10px #1C2437;			
		}
		.wrp-navuserprofile {
			background: @color-dark;
			color: #fff;
			box-shadow: 0px 2px 10px #1C2437;			
		}
		.wrp-section.white {
			.feature-middle {
				background: @color-dark;
				box-shadow: 0px 6px 20px #1C2437;				
			}
		}
		h4.title-section {
			color: @color-white;
		}
		.wrp-tablestyle {
			color: @color-gray4;
		}
		.wrp-boxsidebar {
			background: @color-dark;
			box-shadow: 0px 6px 20px #1C2437;		
			color:@color-gray4;
			h4 {
				color: @color-white;
			}		
		}
		.maintitle {
			h2 {
				color: @color-white;
			}
		}
		.breadcump {
			color: @color-gray;
		}
		.mycustom-calendar {
			color:@color-gray4;
			.fc-center {
				h2 {
					color: @color-white;
				}
			}
		}
		.btn {
			&--full {
				box-shadow: none;
			}
		}
		.itemform {
			label {
				color: @color-gray4;
			}
		}
		.custom-upload .fake-file .disbaleunput {
			color: @color-gray4;
		}
		.itemform-flex label {
			color: @color-gray4;
		}
		.iteminput label {
			color: @color-gray4;
		}
		#amount {
			background: none;
		}
		#example2_filter {
			color: @color-gray4;
		}
		.dataTables_paginate {
			background: @color-dark2;
		}
		table.dataTable {
			color: @color-gray4;
		}
		table.dataTable tbody tr {
			background: none;
		}
	}
}

.bgcover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.animatecss {
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;	
}

a {
	color: @color-blue;
	text-decoration: none;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
	cursor:pointer;
} 

a:hover, a:active {
	color: @color-blue;
	text-decoration: underline;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.clear {
	clear: both;
}

.alpha { 
	padding-left: 0 !important; 
}

.omega { 
	padding-right: 0 !important; 
}

.no-padding {
	padding: 0 !important;
}

img.border {
	border: 1px solid #B1B1B1;
	margin-bottom: 5%;
	max-width: 100%;
}

img.border:hover, img.border:active {
	border: 1px solid #858585;
	cursor: pointer;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.wrapper { display: block; margin: 0 auto; text-align: center; max-width: 1200px; padding-left: 15px; padding-right:15px; }
.imgwrp img { max-width:100%;}
img {
	max-width:100%;
}

.medium-text {
	font-size: @font-size-medium;
}
/* --------------------- HEADER LAYOUT --------------------- */
#headerweb {

}




/* --------------------- END HEADER LAYOUT --------------------- */

/* --------------------- BODYWEB LAYOUT --------------------- */

#bodyweb {
}

.full {
	align-items: center;
}

.wrp-mainfix {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px;
	width: 100%;
}

.wrp-bgmainform {
	background: @color-white;
	max-width: 480px;
	width: 100%;
	box-shadow: 0px 6px 30px #DEE2F3;
	border-radius: 20px;
	min-height: 100px;	
	padding: 35px;
	h4 {
		margin-bottom: 30px;
		display: block;
	}
}

.shadow {
	-webkit-box-shadow: 0px 2px 10px #E9EDFF;	
	-moz-box-shadow: 0px 2px 10px #E9EDFF;	
	-o-box-shadow: 0px 2px 10px #E9EDFF;	
	box-shadow: 0px 2px 10px #E9EDFF;	
}
h1,h2,h3,h4,h5,h6 {
	font-family: @font-Poppins-Medium;
}

h4 {
	font-size: 20px;
}

.btn {
	text-align: center;
	border-radius: 8px;
	padding: 7px 5px;
	background: @color-blue;
	color: @color-white;
	&--full {
		display: block;
		width: 100%;
		box-shadow: 0px 4px 20px #BFCBFF;		
	}
	&--blue {
		background: @color-blue;
	}
	&--blue2 {
		background: @color-blue3;
		color: @color-blue;
	}
	&--red {
		background: @color-red;
		color: @color-red2;
	}	
	&--green {
		background: @color-green;
	}
	&:hover {
		color: @color-white;
	}
	&--medium {
		min-width: 110px;
	}
	&--big {
		padding: 6px 10px;
	}
	&--small {
		padding: 3px 10px;
	}
}

.text-left {
	text-align: left;
}


.iteminput {
	margin: 15px 0;
	font-size: 18px;
	position: relative;
	text-align: left;
	input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
		width: 100%;
		background: @color-blue1;
		color: @color-blue;
		text-align: left;
		padding: 10px 15px;
		border-radius: 8px;
		border: none;
		position: relative;
		&::-webkit-input-placeholder { /* Edge */
			color: @color-blue2;
		}		  
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: @color-blue2;
		}		  
		&::placeholder {
			color: @color-blue2;
		}		
	}
	&.image {
		input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
			padding-right: 45px;
		}
		&::after {
			content: "";
			width: 20px;
			height: 20px;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translate(0, -50%);	
			z-index: 1;
		}
	}
	.btn {
		text-align: center;
	}
	a {
		text-align: right;
		display: block;
	}
	label {
		font-size: 14px;
	}
	.text-left {
		text-align: left;
		margin-top: 20px;
	}
	.labeltext {
		display: block;
		text-align: center;
		font-family: @font-Roboto-Medium;
		font-size: 14px;
	}
	&.email {		
		&::after {
			background: url("../images/icon-message.svg") no-repeat center;
		}
	}
	&.fullname {		
		&::after {
			background: url("../images/icon-user.svg") no-repeat center;
		}
	}
	&.password {		
		&::after {
			background: url("../images/icon-lock.svg") no-repeat center;
		}
	}
	&.white {
		[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
			background: @color-white;
			border: @color-gray solid 1px;
		}
	}
	label {
		a {
			margin-left: 5px;
		}
	}

	/* Base for label styling */
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		cursor: pointer;
		display: flex;
		margin-bottom: 0;
		font-size: 14px;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
		position: relative;
		left: 0; top: 0;
		width: 22px;
		height: 22px;
		border: 1px solid @color-green;
		background: @color-green;
		border-radius: 2px;
		display: inline-block;
		margin-right: 5px;
	}
/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: "";
		position: absolute;
		width: 15px;
		height: 8px;
		border-left: @color-white solid 3px;
		border-bottom: @color-white solid 3px;
		left: 3px;
		margin: 0 auto;
		top:10px;
		transform: translate(0, -50%) rotate(-45deg) !important;
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
		transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
	/* disabled checkbox */
	[type="checkbox"]:disabled:not(:checked) + label:before,
	[type="checkbox"]:disabled:checked + label:before {
		box-shadow: none;
		border-color: #bbb;
		background-color: #ddd;
	}
	[type="checkbox"]:disabled:checked + label:after {
		color: #999;
	}
	[type="checkbox"]:disabled + label {
		margin-bottom: 0;
	}
	/* accessibility */
	[type="checkbox"]:checked:focus + label:before,
	[type="checkbox"]:not(:checked):focus + label:before {
		background: @color-green;
	}
	.wrp-switchmode {
		margin-top: 0;
		padding-left: 0;
		margin-bottom: 15px;
			.wrp-switchicon {
				margin-right: 15px;
				margin-left: 0;
				&.dark {
					background: @color-blue;
					.thub {
						background: @color-white;
						border: @color-blue1;
					}
	
				}
			}
	}
	.ui-widget.ui-widget-content {
		background: @color-blue1;
		border: none;
	}
	.ui-slider-horizontal {
		height: 6px;
	}
	.ui-slider-horizontal .ui-slider-handle {
		background: url("../images/handleslider.svg") no-repeat center;
		border: none;
	}
}

.pages-fluid {
	@widtsidebar: 340px;
	justify-content: space-between;	
	.wrp-sidebar {
		min-width: @widtsidebar;
		max-width: @widtsidebar;
		position: fixed;
		z-index: 1;

		left: 0;
		top: 0;
		background: @color-white;
		height: 100%;
		box-shadow: 0px 6px 30px #DEE2F3;	
		.animatecss;
		&.active {
			display: block;
		}
		&.small {
			min-width: 105px;
			max-width: 105px;
			.animatecss;
			.big {
				display: none;
			}		
			.minimalis {
				display: block;
				.animatecss;
			}		
			.mainmenu {
				ul {
					li {
						span {
							.animatecss;
							display: none;
						}
					}
				}
			}
			.mainlogo {
				padding-left: 30px;
			}
			.wrp-switchmode {
				flex-direction: column;
				align-items: baseline;
				span {
					.animatecss;
					display: none;
				}
				.wrp-switchicon {
					margin-left: 0;
					margin-top: 20px;
				}				
			}
		}
	}
	.page-wrapper {
		flex: 1;
		padding: 0 50px;
		padding-top: 30px;
		margin-left: @widtsidebar;
		.animatecss;
		&.big {
			.animatecss;
			margin-left: 105px;
		}
	}
}

.mainlogo {
	padding-left: 25px;
	margin-bottom: 50px;
	margin-top: 10px;
	min-height: 63px;
	display: flex;
	align-items: center;
	.animatecss;
	.big {
		display: block;
		.animatecss;
	}
	.minimalis {
		display: none;
		.animatecss;
	}
}
.mainmenu {
	font-size: 18px;
	.mainicon {
		width: 26px;
		display: inline-block;
		margin-right: 10px;
	}
	ul {
		margin: 0;
	}
	li {
		display: block;
		margin: 7px 0;
		a {
			display: flex;
			align-items: center;
			color:@color-gray;
			padding: 10px 10px 10px 35px;
			border-left: 5px transparent solid;
			&:hover, &.active {
				border-left: @color-blue solid 5px;
				color: @color-blue;
				text-decoration: none;
				svg {
					path {
						fill: @color-blue;
					}
				}	
			}
		}
		svg {
			margin-right: 5px;
		}
		span {
			.animatecss;
			position: relative;
		}
	}
}

.wrp-switchmode {
	display: flex;
	align-items: center;
	padding-left: 35px;
	padding-right: 15px;
	margin-top: 90px;
	font-size: 18px;
	.mainicon {
		margin-right: 10px;
		width: 26px;
	}
	.wrp-switchicon {
		background: @color-gray2;
		position: relative;
		width: 40px;
		height: 20px;
		border-radius: 30px;
		margin-left: 20px;
		cursor: pointer;
		.thub {
			background: @color-blue2;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 0;
			.animatecss;
		}
		&.dark {
			background: @color-blue;
			.thub {
				left: auto;
				right: 0;
				.animatecss;
				background: @color-white;
			}
		}
	}
}

.wrp-section {
	&.mainbody {
		padding-bottom: 20px;
	}
	.contents {
		display: flex;
		justify-content: space-between;
		.left {
			display: flex;
			align-items: center;
		}
		.right {
			display: flex;
			align-items: center;
		}
		.left, .right {
			&.md-8 {
				flex: 2.3;
			}
		}
	}
	&.header {
		margin-bottom: 25px;
	}
	&.white {
		.feature-middle {
			background: @color-white;
			flex: 1;
			margin: 15px 0;
			padding: 20px;
			flex-direction: column;
			border-radius: 10px;
			.shadow;
		}
	}
}

.feature-middle {
	.wrp-chart {
		margin: 0 auto;
		canvas {
			margin: 0 auto;
		}
	}
}

.nav {
	width: 25px;
	cursor: pointer;
	margin-right: 30px;
	span {
		background: @color-black;
		width: 100%;
		height: 3px;
		margin: 2px 0;
	}
}

.wrp-search {
	display: flex;
	align-items: center;
	background: @color-white;
	.shadow;
	border-radius: 10px;
	padding: 10px;	
	min-width: 340px;
	input[type="text"] {
		border: none;
		flex: 1;
		background: none;
	}
	input[type="submit"], input[type="button"] {
		background: url("../images/icon-search.svg") center no-repeat;
		padding: 0 10px;
		border: none;
		margin-left: 6px;
	}
}

.wrp-notif {
	background: @color-white;
	.shadow;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 52px;
	.imgwrp {
		position: relative;
		span {
			background: @color-red2;
			width: 7px;
			height: 7px;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.wrp-navuserprofile {
	display: flex;
	background: @color-white;
	height: 100%;
	.shadow;
	align-items: center;
	padding: 0 15px;
	border-radius: 10px;	
	margin-left: 15px;
	position: relative;
	cursor: pointer;
	&::after {
		content: "";
		background: url("../images/arrow-down.svg") no-repeat center;		
		width: 30px;
		height: 30px;
	}
	label {
		margin: 0 5px;
		padding-left: 5px;
	}
}

.feature-small {
	background: @color-white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px;
	.shadow;
	flex: 1;
	border-radius: 10px;
	font-family: @font-Roboto-Regular;
	color: @color-gray;
	margin: 25px;
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
	h4 {
		color: @color-black;
		font-family: @font-Poppins-Bold;
		font-size: 36px;
		display: block;
		margin: 0;
		line-height: 30px;
	}
	.imgwrp {
		background: @color-blue3;
		padding: 10px 15px;
		border-radius: 10px;
		height: 100%;
		min-height: 60px;
		display: flex;
		align-items: center;
	}
	.left {
		display: flex;
		flex-direction: column;
		text-align: left;
		align-items: flex-start !important;
	}
}

h4 {
	&.title-section {
		font-family: @font-Poppins-Medium;
		font-size: 16px;
		color: @color-black;
		width: 100%;
		margin-bottom: 20px;
	}
	&.line {
		border-bottom: @color-gray solid 1px;
		padding-bottom: 10px;
	}
}

.wrp-chart {
	display: block;
	position: relative;
	height: 270px;
	overflow: hidden;
}

.chartjs-tooltip {
	position: absolute;
	top: 50%;
	transform: translate(0, -59%);
	text-align: center;
	display: block;
	left: 0;
	right: 0;
	margin-top: -15px;
	font-family: @font-Poppins-Medium;
	font-size: 38px;
	color: @color-blue;
}

.title-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	h4.title-section {
		margin-bottom: 0;
	}
}
.select_custom {
	width: auto;
	min-width: 75px;
	height: 33px;
	position: relative;
	vertical-align: middle;
	color: @color-blue;
}	
.select_custom	select {
	border: none;
	z-index: 2;
	padding: 5px 10px;
	padding-left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: @color-blue;
	background: none;

}
.select_custom .select_icon {
	position: absolute;
	right: 0;
	top: 7px;
	width: 20px;
	height:20px;
	color:blue;
	background: url("../images/arrow-down-small.svg") no-repeat center;
}

table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}

.wrp-tablestyle {
	table {
		&.dataTable {
			thead {
				th,td {
					border-bottom: @color-blue3 solid 1px;
					padding: 20px 10px;
					&.select-checkbox:after {
						top: auto;
					}	
				}
			}
			thead, tbody {
				th, td {
					&.select-checkbox:before {
						top: 50% !important;
						border: @color-gray solid 1px;
						width: 16px;
						height: 16px;
					}
					&.select-checkbox:after {
						margin-top: 0;
					}
				}
			}
			&.display {
				tbody {
					td{
						background: none !important;
					}
					th,td {
						padding: 15px 10px;
					}
				}
			}
			tr {
				background: none;
				&.odd {
					background: none !important;
				}
			}
			&.no-footer {
				border-bottom: 0;
			}
		}
	}
}

.stribtables {
	tbody {
		td {
			span {
				color: @color-gray;
				opacity: 0.9;
			}
		}
	}
	.name {
		color: @color-blue;
	}
}

#example2_length {
	display: none;
}

.maintitle {
	margin-top: 20px;
	h2 {
		font-family: @font-Poppins-Medium;
		font-size: 24px;
		color: @color-black;
	}
}

.breadcump {
	font-family: @font-Roboto-Regular;
	font-size: 16px;
	li {
		display: inline-block;
		&::after {
			content: "/";
			display: inline;
			margin: 0 5px;
		}
		&:last-child {
			&::after {
				content: none;
			}
		}
		a {
			color: @color-blue;
		}
		&:last-child {
			a {
				color: @color-gray;
			}
		}
	}
}

.wrp-boxsidebar {
	border-radius: @radius;
	background: @color-white;
	box-shadow: 0px 6px 20px #E9EDFF;
	padding: 20px;
	font-size: 12px;
	font-family: @font-Roboto-Medium;
	h4 {
		font-family: @font-Poppins-Medium;
		font-size: 16px;
		color: @color-black;
		border-bottom: @color-gray solid 1px;
		padding-bottom: 10px;
	}	
	ul {
		li {
			display: flex;
			align-items: center;
			padding: 7px 0;
			a {
				display: flex;
				align-items: center;
				width: 100%;
				justify-content: flex-start;
				position: relative;
				color: @color-gray;
				&:hover, .current {
					text-decoration: none;
					color: @color-blue;
					svg {
						path {
							fill: @color-blue;
						}
					}	
				}
				span {
					background: @color-blue;
					color: @color-white;
					border-radius: 30px;
					min-width: 40px;
					text-align: center;
					font-size: 10px;
					position: absolute;
					right: 0;
					line-height: 16px;
				}
			}
			.mainicon {
				margin-right: 10px;
				min-width: 17px;
			}			
		}
	}
}

.vgap {
	margin: 15px 0;
	float: left;
	overflow: hidden;
	width: 100%;
	&--first {
		margin-top: 0;
	}
}

.no-margin {
	margin: 0 !important;
}

.wrp-searchsmall {
	display: flex;
	align-items: center;
	border: @color-gray3 solid 1px;
	border-radius: 5px;
	position: relative;
	height: 31px;
	padding-right: 50px;
	padding-left: 5px;
	input[type="text"] {
		min-width: 170px;
		border: none;
	}
	input[type="submit"], input[type="button"] {
		background: url("../images/icon-search-white.svg") @color-blue center no-repeat;
		border:none;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		width: 40px;
		height: 30px;
		border-radius: 5px;
	}
}

#example2_filter {
	position: relative;
	margin-top: -47px;
	label {
		&::after {
			content: "";
			background: url("../images/icon-search-white.svg") @color-blue center no-repeat;
			border:none;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 40px;
			height: 30px;
			border-radius: 5px;	
		}
	}
	input[type="search"] {
		min-width: 170px;
		height: 30px;
		padding-right: 45px;
		position: relative;
		border: @color-gray3 solid 1px;
	}
}
#example2_wrapper {
	tfoot, .dataTables_info {
		display: none;
	}
	&.dataTables_wrapper .dataTables_paginate .paginate_button.current {
		background: @color-blue;
		color: @color-white !important;
		border: none;
	}
	.dataTables_paginate {
		padding: 0;
	}
	&.dataTables_wrapper .dataTables_paginate .paginate_button {
		color: @color-blue !important;
		border: transparent;
		&.previous {
			text-indent: -1000px;	
			position: relative;
			background:url("../images/paging-left.svg") no-repeat center;
			&:hover {
				background: url("../images/paging-left.svg") no-repeat center @color-blue3;
			}
		}
		&.next {
			text-indent: -1000px;	
			position: relative;
			background:url("../images/paging-right.svg") no-repeat center;
			&:hover {
				background: url("../images/paging-right.svg") no-repeat center @color-blue3;
			}
		}		
	}
	&.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
		background: none;
		background: @color-blue;
		color: @color-white !important;
		border: none;
	}
}

.dataTables_paginate {
	background: @color-blue3;
	color: @color-blue;
	border-radius: 30px;
	margin-top: 30px;
	overflow: hidden;
	a {
		color: @color-blue;
	}
}

.list-iconaction {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	.boxbordered {
		display: flex;
		margin-right: 10px;
		a {
			border-top:@color-blue solid 1px;
			border-right:@color-blue solid 1px;
			border-bottom:@color-blue solid 1px;
			border-left:none;
			padding: 5px 10px;
			&:first-child {
				border-left:@color-blue solid 1px;
				border-radius: 5px 0 0 5px;
			}
			&:last-child {
				border-radius: 0px 5px 5px 0px;
			}
			&.red {
				border-top:@color-red2 solid 1px;
				border-right:@color-red2 solid 1px;
				border-bottom:@color-red2 solid 1px;
				&:first-child {
					border-left:@color-red2 solid 1px;
				}
	
			}
		}
	}
}

#external-events-listing {
	.fc-event {
		display: block;
		border-radius: 5px;
		background: @color-blue1;
		border:none;
		padding: 10px;
		font-size: 12px;
		margin: 10px 0;
		&.green {
			background: @color-green;
		}
		&.yellow {
			background: @color-yellow;
		}
		&.pink {
			background: @color-red2;
		}
		&.blue {
			background: @color-blue;
		}
		&.blue2 {
			background: @color-blue2;
		}
		
	}
}

.wrp-createevent {
	.customevent {
		display: block;
		width: 100%;
		border: @color-gray3 solid 1px;
		padding: 5px 10px;
		margin: 10px 0;
		margin-bottom: 20px;
	}
}

.wrp-coloroption {
	position: relative;
	padding-left: 75px;
	label {
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;
	}
	.wrp-listcolor {
		.item-color {
			width: 20px;
			height: 20px;
			display: inline-block;
			margin: 2px;
			border-radius: 5px;
			&.green {
				background: @color-green;
			}
			&.yellow {
				background: @color-yellow;
			}
			&.pink {
				background: @color-red2;
			}
			&.blue {
				background: @color-blue;
			}
			&.blue2 {
				background: @color-blue2;
			}
		}
	}
}

.mycustom-calendar {
	margin-bottom: 50px;
	.fc-button-group {
		border: @color-blue solid 1px;
		border-radius: 5px;
		.fc-state-default {
			background: none;
			color: @color-blue;
			border: none;
		}
		.fc-state-active {
			background: @color-blue;
			color: @color-white;
			box-shadow: none;
			border: none;
		}
	}
	button:focus {
		outline: @color-blue;
	}
	.fc-center {
		h2 {
			font-size: 18px;
			font-family: @font-Poppins-Medium;
			margin: 0;
		}
	}
	.fc-toolbar {
		margin-bottom: 30px;
	}
}

.mycustom-datatable {
	.dataTables_length {
		display: none;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button.current {
		background: @color-blue;
		color: @color-white !important;
		border: none;
	}
	.dataTables_paginate {
		padding: 0;
		margin: 15px 0;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button {
		color: @color-blue !important;
		border: transparent;
		&.previous {
			text-indent: -1000px;	
			position: relative;
			background:url("../images/paging-left.svg") no-repeat center;
			&:hover {
				background: url("../images/paging-left.svg") no-repeat center @color-blue3;
			}
		}
		&.next {
			text-indent: -1000px;	
			position: relative;
			background:url("../images/paging-right.svg") no-repeat center;
			&:hover {
				background: url("../images/paging-right.svg") no-repeat center @color-blue3;
			}
		}
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
		background: none;
		background: @color-blue;
		color: @color-white !important;
		border: none;
	}	
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
		border: none;
	}
	.line {
		background: @color-gray2;
		height: 7px;
		min-width: 1px;
		border-radius: 30px;
		display: block;
		&.blue {
			background: @color-blue;
		}
		&.yellow {
			background: @color-yellow;
		}
		&.green {
			background: @color-green;
		}
		&.red2 {
			background: @color-red2;
		}
		&.blue2 {
			background: @color-blue2;
		}
	}
}

.itemform {
	margin-bottom: 15px;
	label {
		display: block;
		font-family: @font-Poppins-Regular;
		margin-bottom: 5px;
	}
	input[type="email"], input[type="text"], input[type="number"], input[type="password"], textarea {
		display: block;
		border: @color-gray3 solid 1px;
		padding: 5px 10px;
		width: 100%;
		border-radius: 5px;
		&.green {
			border: @color-green solid 1px;
			background: url("../images/icon-check-green.svg") no-repeat 99% center @color-white;
			padding-right: 25px;
		}
		&.yellow {
			border: @color-yellow solid 1px;
		}
		&.red2 {
			border: @color-red2 solid 1px;
			background: url("../images/icon-error.svg") no-repeat 99% center @color-white;
			padding-right: 25px;
		}
	}
	textarea {
		min-height: 100px;
	}
	&.iteminput {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.itemform-flex {
	margin-bottom: 15px;
	position: relative;
	padding-left: 100px;
	label {
		display: block;
		font-family: @font-Poppins-Regular;
		margin-bottom: 5px;
		position: absolute;
		left: 0;
		top:5px;
	}
	input[type="email"], input[type="text"], input[type="number"], input[type="password"] {
		display: block;
		border: @color-gray3 solid 1px;
		padding: 5px 10px;
		width: 100%;
		border-radius: 5px;
	}

}

.custom-upload {
    position: relative;
}

.custom-upload input[type=file]
{
    outline:none;
    position: relative;
    text-align: right;    
    -moz-opacity:0 ;
    opacity: 0;
    z-index: 2;
    width:100%;
    height:100%;
    
}

.custom-upload .fake-file{
    background:url(../images/btn-upload.svg) center right no-repeat;
    position: absolute;
    top: 0px;
	left: 0px;
	width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
    line-height: 100%;
	.disbaleunput {
		background: none;
		display: block;
		border: @color-gray3 solid 1px;
		padding: 5px 10px;
		width: 100%;
		border-radius: 5px;		
	}
}

.custom-upload .fake-file input {
    height:35px;
}

.inputradio {
	display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
	input {
		position: absolute;
		left: -9999px;
		&:checked + span {
			border: none;
			&:before {
				background: url("../images/radio-checked.svg") no-repeat left center;
			}
		}
	}
	span {
		display: flex;
		align-items: center;
		border-radius: 99em; // or something higher...
		transition: 0.25s ease;
		&:hover {
		}
		&:before {
			display: flex;
			flex-shrink: 0;
			content: "";
			background: url("../images/radio-blank.svg") no-repeat left center;
			width: 20px;
			height:20px;
			border-radius: 50%;
			margin-right: 0.375em;
			transition: 0.25s ease;
		}
	}
}

.select-box-wrapper {
	border: @color-gray3 solid 1px;
	border-radius: 5px;
} 

select {
	width: 100%;
}

.select-box {
    background-color: red;
    background: @color-white url("../images/arrow-select.svg") no-repeat 98% 50%;
	border: none;
	border-radius: 5px;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px 10px;
    width: 100%;	
	select {
		color: @color-gray;
		appearance: none;
		background-color: transparent;
		background-image: none;
		border: none;
		box-shadow: none;
		width: 100%;
		font-size: 14px;		
		&:focus {
			outline: none;
		} // &:focus
	} // <select>
} // .select-box

/* --------------------- END BODYWEB LAYOUT --------------------- */

/* --------------------- FOOTER LAYOUT --------------------- */
#footerweb {
}

.header-mobile {
	background: @color-white;
	width: 100%;
	min-height: 50px;
	.shadow;
	padding: 15px;
	display: none;
	align-items: center;
	justify-content:flex-end;
	.wrp-notif {
	}
	.mainlogoxs {
		justify-self: flex-start;
		flex: 1;
	}
	.wrp-navuserprofile {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

/* --------------------- END FOOTER LAYOUT --------------------- */

/* Mobile device */
@media (max-width: 991px) {
	body {
		display: block;
	}
	.pages-fluid {
		.wrp-sidebar {
			min-width: 105px;
			max-width: 105px;
			display: none;
			.animatecss;
			.big {
				display: none;
			}		
			.minimalis {
				display: block;
				.animatecss;
			}		
			.mainmenu {
				ul {
					li {
						span {
							.animatecss;
							display: none;
						}
					}
				}
			}
			.mainlogo {
				padding-left: 30px;
			}
			.wrp-switchmode {
				flex-direction: column;
				align-items: baseline;
				span {
					.animatecss;
					display: none;
				}
				.wrp-switchicon {
					margin-left: 0;
					margin-top: 20px;
				}				
			}			
		}
		.page-wrapper {
			margin-left: 0px;
			padding: 0 15px;
			padding-top: 15px;
			.header{
				display: none;
			}
		}
	}
	.header-mobile {
		display: flex;
	}
	.wrp-tablestyle {
		overflow-x: scroll;
	}
	.mycustom-calendar .fc-center h2 {
		margin-top: 20px;
	}
}

/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Desktop small screen */
@media (min-width: 992px) {
}

/* Desktop large screen */
@media (min-width: 1200px) {
}

