/* CSS */
body {
  color: #333;
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 23px;
  margin: 0;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden !important;
  background: #F8F9FF;
}
.bgcover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.animatecss {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
a {
  color: #7197FE;
  text-decoration: none;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  cursor: pointer;
}
a:hover,
a:active {
  color: #7197FE;
  text-decoration: underline;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.clear {
  clear: both;
}
.alpha {
  padding-left: 0 !important;
}
.omega {
  padding-right: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
img.border {
  border: 1px solid #B1B1B1;
  margin-bottom: 5%;
  max-width: 100%;
}
img.border:hover,
img.border:active {
  border: 1px solid #858585;
  cursor: pointer;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.imgwrp img {
  max-width: 100%;
}
img {
  max-width: 100%;
}
.medium-text {
  font-size: 14px;
}
/* --------------------- HEADER LAYOUT --------------------- */
/* --------------------- END HEADER LAYOUT --------------------- */
/* --------------------- BODYWEB LAYOUT --------------------- */
.full {
  align-items: center;
}
.wrp-mainfix {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  width: 100%;
}
.wrp-bgmainform {
  background: #fff;
  max-width: 480px;
  width: 100%;
  box-shadow: 0px 6px 30px #DEE2F3;
  border-radius: 20px;
  min-height: 100px;
  padding: 35px;
}
.wrp-bgmainform h4 {
  margin-bottom: 30px;
  display: block;
}
.shadow {
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins-Medium";
}
h4 {
  font-size: 20px;
}
.btn {
  text-align: center;
  border-radius: 8px;
  padding: 7px 5px;
  background: #7197FE;
  color: #fff;
}
.btn--full {
  display: block;
  width: 100%;
}
.btn--blue {
  background: #7197FE;
}
.btn--blue2 {
  background: #E7EAFD;
  color: #7197FE;
}
.btn--red {
  background: #FFDAE4;
  color: #FF6B93;
}
.btn--green {
  background: #57C87A;
}
.btn:hover {
  color: #fff;
}
.btn--medium {
  min-width: 110px;
}
.text-left {
  text-align: left;
}
.iteminput {
  margin: 15px 0;
  font-size: 18px;
  position: relative;
  text-align: left;
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
  /* accessibility */
}
.iteminput input[type="text"],
.iteminput input[type="password"],
.iteminput input[type="email"],
.iteminput input[type="number"] {
  width: 100%;
  background: #F8F9FF;
  color: #7197FE;
  text-align: left;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  position: relative;
}
.iteminput input[type="text"]::-webkit-input-placeholder,
.iteminput input[type="password"]::-webkit-input-placeholder,
.iteminput input[type="email"]::-webkit-input-placeholder,
.iteminput input[type="number"]::-webkit-input-placeholder {
  /* Edge */
  color: #BFCBFF;
}
.iteminput input[type="text"]:-ms-input-placeholder,
.iteminput input[type="password"]:-ms-input-placeholder,
.iteminput input[type="email"]:-ms-input-placeholder,
.iteminput input[type="number"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #BFCBFF;
}
.iteminput input[type="text"]::placeholder,
.iteminput input[type="password"]::placeholder,
.iteminput input[type="email"]::placeholder,
.iteminput input[type="number"]::placeholder {
  color: #BFCBFF;
}
.iteminput.image input[type="text"],
.iteminput.image input[type="password"],
.iteminput.image input[type="email"],
.iteminput.image input[type="number"] {
  padding-right: 45px;
}
.iteminput.image::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.iteminput .btn {
  text-align: center;
}
.iteminput a {
  text-align: right;
  display: block;
}
.iteminput .text-left {
  text-align: left;
  margin-top: 20px;
}
.iteminput .labeltext {
  display: block;
  text-align: center;
  font-family: "Roboto-Medium";
  font-size: 14px;
}
.iteminput.email::after {
  background: url("../images/icon-message.svg") no-repeat center;
}
.iteminput.fullname::after {
  background: url("../images/icon-user.svg") no-repeat center;
}
.iteminput.password::after {
  background: url("../images/icon-lock.svg") no-repeat center;
}
.iteminput label a {
  margin-left: 5px;
}
.iteminput [type="checkbox"]:not(:checked),
.iteminput [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.iteminput [type="checkbox"]:not(:checked) + label,
.iteminput [type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  display: flex;
  margin-bottom: 0;
  font-size: 14px;
}
.iteminput [type="checkbox"]:not(:checked) + label:before,
.iteminput [type="checkbox"]:checked + label:before {
  content: '';
  position: relative;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #57C87A;
  background: #57C87A;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
}
.iteminput [type="checkbox"]:not(:checked) + label:after,
.iteminput [type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 8px;
  border-left: #fff solid 3px;
  border-bottom: #fff solid 3px;
  left: 3px;
  margin: 0 auto;
  top: 10px;
  transform: translate(0, -50%) rotate(-45deg) !important;
}
.iteminput [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.iteminput [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.iteminput [type="checkbox"]:disabled:not(:checked) + label:before,
.iteminput [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.iteminput [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.iteminput [type="checkbox"]:disabled + label {
  margin-bottom: 0;
}
.iteminput [type="checkbox"]:checked:focus + label:before,
.iteminput [type="checkbox"]:not(:checked):focus + label:before {
  background: #57C87A;
}
.pages-fluid {
  justify-content: space-between;
}
.pages-fluid .wrp-sidebar {
  min-width: 340px;
  max-width: 340px;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  height: 100%;
  box-shadow: 0px 6px 30px #DEE2F3;
}
.pages-fluid .page-wrapper {
  flex: 1;
  padding: 0 50px;
  padding-top: 30px;
  margin-left: 340px;
}
.mainlogo {
  padding-left: 25px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.mainmenu {
  font-size: 18px;
}
.mainmenu .mainicon {
  width: 26px;
  display: inline-block;
  margin-right: 10px;
}
.mainmenu ul {
  margin: 0;
}
.mainmenu li {
  display: block;
  margin: 7px 0;
}
.mainmenu li a {
  display: flex;
  align-items: center;
  color: #8B8B8B;
  padding: 10px 10px 10px 35px;
  border-left: 5px transparent solid;
}
.mainmenu li a:hover,
.mainmenu li a.active {
  border-left: #7197FE solid 5px;
  color: #7197FE;
  text-decoration: none;
}
.mainmenu li a:hover svg path,
.mainmenu li a.active svg path {
  fill: #7197FE;
}
.mainmenu li svg {
  margin-right: 5px;
}
.wrp-switchmode {
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-right: 15px;
  margin-top: 90px;
  font-size: 18px;
}
.wrp-switchmode .mainicon {
  margin-right: 10px;
  width: 26px;
}
.wrp-switchmode .wrp-switchicon {
  background: #F4F4F4;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.wrp-switchmode .wrp-switchicon .thub {
  background: #BFCBFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrp-switchmode .wrp-switchicon.dark .thub {
  left: auto;
  right: 0;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.wrp-section .contents {
  display: flex;
  justify-content: space-between;
}
.wrp-section .contents .left {
  display: flex;
  align-items: center;
}
.wrp-section .contents .right {
  display: flex;
  align-items: center;
}
.wrp-section .contents .left.md-8,
.wrp-section .contents .right.md-8 {
  flex: 2.3;
}
.wrp-section.header {
  margin-bottom: 25px;
}
.wrp-section.white .feature-middle {
  background: #fff;
  flex: 1;
  margin: 25px 0;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
}
.feature-middle .wrp-chart {
  margin: 0 auto;
}
.feature-middle .wrp-chart canvas {
  margin: 0 auto;
}
.nav {
  width: 25px;
  cursor: pointer;
  margin-right: 30px;
}
.nav span {
  background: #373737;
  width: 100%;
  height: 3px;
  margin: 2px 0;
}
.wrp-search {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
  border-radius: 10px;
  padding: 10px;
  min-width: 340px;
}
.wrp-search input[type="text"] {
  border: none;
  flex: 1;
}
.wrp-search input[type="submit"],
.wrp-search input[type="button"] {
  background: url("../images/icon-search.svg") center no-repeat;
  padding: 0 10px;
  border: none;
  margin-left: 6px;
}
.wrp-notif {
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 52px;
}
.wrp-notif .imgwrp {
  position: relative;
}
.wrp-notif .imgwrp span {
  background: #FF6B93;
  width: 7px;
  height: 7px;
  position: absolute;
  right: 0;
  top: 0;
}
.wrp-navuserprofile {
  display: flex;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
}
.wrp-navuserprofile::after {
  content: "";
  background: url("../images/arrow-down.svg") no-repeat center;
  width: 30px;
  height: 30px;
}
.wrp-navuserprofile label {
  margin: 0 5px;
  padding-left: 5px;
}
.feature-small {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 2px 10px #E9EDFF;
  -moz-box-shadow: 0px 2px 10px #E9EDFF;
  -o-box-shadow: 0px 2px 10px #E9EDFF;
  box-shadow: 0px 2px 10px #E9EDFF;
  flex: 1;
  border-radius: 10px;
  font-family: "Roboto-Regular";
  color: #8B8B8B;
  margin: 25px;
}
.feature-small:first-child {
  margin-left: 0;
}
.feature-small:last-child {
  margin-right: 0;
}
.feature-small h4 {
  color: #373737;
  font-family: "PoppinsBold";
  font-size: 36px;
  display: block;
  margin: 0;
  line-height: 30px;
}
.feature-small .imgwrp {
  background: #E7EAFD;
  padding: 10px 15px;
  border-radius: 10px;
  height: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
}
.feature-small .left {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start !important;
}
h4.title-section {
  font-family: "Poppins-Medium";
  font-size: 16px;
  color: #373737;
  width: 100%;
  margin-bottom: 20px;
}
.wrp-chart {
  display: block;
  position: relative;
  height: 270px;
  overflow: hidden;
}
.chartjs-tooltip {
  position: absolute;
  top: 50%;
  transform: translate(0, -59%);
  text-align: center;
  display: block;
  left: 0;
  right: 0;
  margin-top: -15px;
  font-family: "Poppins-Medium";
  font-size: 38px;
  color: #7197FE;
}
.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.title-row h4.title-section {
  margin-bottom: 0;
}
.select_custom {
  width: auto;
  min-width: 75px;
  height: 33px;
  position: relative;
  vertical-align: middle;
  background: #fff;
  color: #7197FE;
}
.select_custom select {
  border: none;
  z-index: 2;
  padding: 5px 10px;
  padding-left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #7197FE;
}
.select_custom .select_icon {
  position: absolute;
  right: 0;
  top: 7px;
  width: 20px;
  height: 20px;
  color: blue;
  background: url("../images/arrow-down-small.svg") no-repeat center;
}
table.dataTable tr th.select-checkbox.selected::after {
  content: "✔";
  margin-top: -11px;
  margin-left: -4px;
  text-align: center;
  text-shadow: #b0bed9 1px 1px, #b0bed9 -1px -1px, #b0bed9 1px -1px, #b0bed9 -1px 1px;
}
.wrp-tablestyle table.dataTable thead th,
.wrp-tablestyle table.dataTable thead td {
  border-bottom: #E7EAFD solid 1px;
  padding: 20px 10px;
}
.wrp-tablestyle table.dataTable thead th.select-checkbox:after,
.wrp-tablestyle table.dataTable thead td.select-checkbox:after {
  top: auto;
}
.wrp-tablestyle table.dataTable thead th.select-checkbox:before,
.wrp-tablestyle table.dataTable tbody th.select-checkbox:before,
.wrp-tablestyle table.dataTable thead td.select-checkbox:before,
.wrp-tablestyle table.dataTable tbody td.select-checkbox:before {
  top: 50% !important;
  border: #8B8B8B solid 1px;
  width: 16px;
  height: 16px;
}
.wrp-tablestyle table.dataTable thead th.select-checkbox:after,
.wrp-tablestyle table.dataTable tbody th.select-checkbox:after,
.wrp-tablestyle table.dataTable thead td.select-checkbox:after,
.wrp-tablestyle table.dataTable tbody td.select-checkbox:after {
  margin-top: 0;
}
.wrp-tablestyle table.dataTable.display tbody td {
  background: none !important;
}
.wrp-tablestyle table.dataTable.display tbody th,
.wrp-tablestyle table.dataTable.display tbody td {
  padding: 15px 10px;
}
.wrp-tablestyle table.dataTable tr {
  background: none;
}
.wrp-tablestyle table.dataTable tr.odd {
  background: none !important;
}
.wrp-tablestyle table.dataTable.no-footer {
  border-bottom: 0;
}
.maintitle h2 {
  font-family: "Poppins-Medium";
  font-size: 24px;
  color: #373737;
}
.breadcump {
  font-family: "Roboto-Regular";
  font-size: 16px;
}
.breadcump li {
  display: inline-block;
}
.breadcump li::after {
  content: "/";
  display: inline;
  margin: 0 5px;
}
.breadcump li:last-child::after {
  content: none;
}
.breadcump li a {
  color: #7197FE;
}
.breadcump li:last-child a {
  color: #8B8B8B;
}
/* --------------------- END BODYWEB LAYOUT --------------------- */
/* --------------------- FOOTER LAYOUT --------------------- */
/* --------------------- END FOOTER LAYOUT --------------------- */
/* Mobile device */
/* Tablet device */
/* Desktop small screen */
/* Desktop large screen */
